<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campus_activity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:name=".CampusApplication"
        android:allowBackup="true"
        android:icon="@drawable/iiitm"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iiitm"
        android:supportsRtl="true"
        android:theme="@style/Theme.Campus">
<!--        <activity android:name=".ui.chat.NewClubActivity"></activity>-->
        <activity android:name=".ui.chat.NewClub" >
        </activity>
        <activity android:name=".ui.chat.ChatActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.auth.AuthActivity">
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>